# Lab 5 TIER protocol i Tidy data

## Import necessary packages

In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime


# Read the data from file
df = pd.read_csv("../OriginalData/billboard.csv", sep=",", encoding='utf8')

## Display raw data

In [120]:
df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Count columns that doesn't contain any data

In [121]:
nan_cols = 0
for i in df.columns:
    df[i] = np.where(df[i] == "", np.NaN, df[i])
    if not df[i].any():
        nan_cols += 1
nan_cols

11

## Display statistics of the dataset

In [122]:
df.describe()

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,74.000000,63.000000,53.000000,44.750000,38.750000,33.750000,30.000000,27.000000,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,81.000000,73.000000,66.000000,61.000000,57.000000,51.500000,47.000000,45.500000,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,91.000000,84.000000,79.000000,76.000000,73.250000,72.250000,67.000000,67.000000,67.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create a function to compute the datetime when each listing was published

In [123]:
def reDate(date: str, week: int) -> str:
    date = date.rstrip()
    year, month, day = int(date[:4]), int(date[5:7]), int(date[8:])
    date = datetime(year, month, day)
    for i in range(week):
        try:
            date = datetime(date.year, date.month, date.day + 7)
        except:
            if date.month in [1, 3, 5, 7, 8, 10]:
                # 31-days months
                date = datetime(date.year, date.month + 1, date.day + 7 - 31)
            elif date.month in [4, 6, 9, 11]:
                # 30-days months
                date = datetime(date.year, date.month + 1, date.day + 7 - 30)
            elif date.month == 2:
                # February
                date = datetime(date.year, date.month + 1, date.day + 7 - 28)
            else:
                # December
                date = datetime(date.year + 1, 1, date.day + 7 - 31)
    return "{:4}-{:2}-{:2}".format(date.year, date.month, date.day).replace(" ", "0")

## Obtain a data about a place in ranking

In [124]:
dfWeeks = df[df.columns[7:]]
dfWeeks

,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,x10th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,78.0,63.0,49.0,33.0,23.0,15.0,7.0,5.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15.0,8.0,6.0,5.0,2.0,3.0,2.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71.0,48.0,43.0,31.0,20.0,13.0,7.0,6.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41.0,23.0,18.0,14.0,2.0,1.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,57.0,47.0,45.0,29.0,23.0,18.0,11.0,9.0,9.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,99.0,99.0,99.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,99.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,99.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create a dataframe with ranking information

In [125]:
rankColumns = ["artist", "track", "date", "week", "rank"]
dfRank = pd.DataFrame(columns=rankColumns)

for i in range(len(dfWeeks.index)):
    for j in range(len(dfWeeks.values[i])):
        if type(dfWeeks[dfWeeks.columns[j]][i]) == str:
            dfWeeks[dfWeeks.columns[j]][i] = int(dfWeeks[dfWeeks.columns[j]][i])
        if dfWeeks[dfWeeks.columns[j]][i] > 0:
            toAppend = pd.DataFrame({
                "artist": df["artist.inverted"][i], 
                "track": df["track"][i],
                "date": reDate(df["date.entered"][i], j + 1), 
                "week": j + 1, 
                "rank": int(dfWeeks[dfWeeks.columns[j]][i])}, index=[0])
            dfRank = pd.concat([dfRank, toAppend], ignore_index=True)
            
dfRank.sort_values(["artist", "track"]).reset_index().drop(labels=["index"], axis=1)

,artist,track,date,week,rank
0,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-03-05,1,87
1,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-03-12,2,82
2,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-03-19,3,72
3,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-03-26,4,77
4,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-04-02,5,87
...,...,...,...,...,...
5302,matchbox twenty,Bent,2000-12-30,35,33
5303,matchbox twenty,Bent,2001-01-06,36,37
5304,matchbox twenty,Bent,2001-01-13,37,38
5305,matchbox twenty,Bent,2001-01-20,38,38
5306,matchbox twenty,Bent,2001-01-27,39,48

## Save the dataframe to a .csv file

In [126]:
dfRank.to_csv("../AnalysisData/billboardRank.csv", index=False)

## Create a dataframe with information about the track

In [127]:
aboutTrack = pd.DataFrame(columns=["track", "artist", "time", "genre", "year"])
aboutTrack["track"] = df["track"]
aboutTrack["artist"] = df["artist.inverted"]
aboutTrack["time"] = df["time"]
aboutTrack["genre"] = df["genre"]
aboutTrack["year"] = df["year"].astype("int")
aboutTrack

,track,artist,time,genre,year
0,Independent Women Part I,Destiny's Child,3:38,Rock,2000
1,"Maria, Maria",Santana,4:18,Rock,2000
2,I Knew I Loved You,Savage Garden,4:07,Rock,2000
3,Music,Madonna,3:45,Rock,2000
4,Come On Over Baby (All I Want Is You),"Aguilera, Christina",3:38,Rock,2000
...,...,...,...,...,...
312,Cherchez LaGhost,Ghostface Killah,3:04,R&B,2000
313,Freakin' It,"Smith, Will",3:58,Rap,2000
314,Kernkraft 400,Zombie Nation,3:30,Rock,2000
315,Got Beef,"Eastsidaz, The",3:58,Rap,2000
316,Toca's Miracle,Fragma,3:22,R&B,2000

## Save the dataframe to a .csv file

In [128]:
aboutTrack.to_csv("../AnalysisData/aboutTrack.csv", index=False)